.clientage {
  .xxs-block({
    display: none;
  });

  .lg-block({
    display: flex;
    justify-content: space-between;
    background-color: @bg;
  });
}

.clientage__info {
  .col();
  .size-lg(8);
}

