.intro {
  .row-flex();

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  min-height: calc(100vh - 46px);
  padding-top: 20px;
  text-align: center;

}

.intro__promo {
  .col();
  .size-xxs(8);


  margin-bottom: auto;
  font-size: 24px;
  line-height: 28px;
  color: @pink;

  span {
    font-weight: 700;
  }
}
