.intro {
  .row-flex();

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: auto;
  min-height: calc(100vh - 25px);
  padding-top: 20px;
  padding-bottom: 0;
  text-align: center;

  .lg-block({
    min-height: 500px;
    padding-top: 50px;
    background-color: @white;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 100% auto;
  });
}

.intro__promo {
  .col();
  .size-xxs(16);

  margin-bottom: 50px;
  font-size: 24px;
  line-height: 28px;
  color: @pink;

  .lg-block({ margin-bottom: 30px;
    font-size: 38px;
    line-height: 46px;
    text-shadow: 0 2px 7px @white;
    text-shadow: 0 -2px 7px @white;
  });

  span {
    font-weight: 700;
  }
}

.intro__btn {
  margin-bottom: 30px;
  box-shadow: 0 2px 9px @gray;

  .lg-block({
    display: none;
  });

  a {
    font-size: 24px;
    line-height: 36px;
    color: @white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.intro__social {
  margin-bottom: auto;

  .lg-block({
    margin-bottom: auto;
  });

}

.intro__social-list {
  display: flex;
  justify-content: center;
  font-size: 0;
}

.intro__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: @white;
  border-radius: 50px;
}
